---
# Checks: '-*,cppcoreguidelines-*,bugprone-*,cert-*,modernize-*,performance-*'
# WarningsAsErrors: 'cppcoreguidelines-*'
Checks: >-
  -clang-diagnostic-*,
  bugprone-optional-value-conversion,
  bugprone-use-after-move,
  modernize-avoid-c-style-cast,
  modernize-loop-convert,
  modernize-make-unique,
  modernize-min-max-use-initializer-list,
  modernize-pass-by-value,
  modernize-raw-string-literal,
  modernize-use-auto,
  modernize-use-emplace,
  modernize-use-ranges,
  modernize-use-scoped-lock,
  modernize-use-starts-ends-with,
  modernize-use-std-numbers,
  modernize-use-std-print,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization,
  readability-container-contains,
  readability-container-data-pointer,
  readability-container-size-empty,
  readability-redundant-casting,
  readability-redundant-member-init,
  readability-static-definition-in-anonymous-namespace,
  readability-uppercase-literal-suffix,
  readability-use-std-min-max,
HeaderFilterRegex: 'src/.*'