---
# Enable all C++ Core Guidelines checks
Checks: '-*,cppcoreguidelines-*'

# Turn matching violations into build-stopping errors (Optional)
WarningsAsErrors: 'cppcoreguidelines-*'

# Ensure header files are also checked, omitting external libraries
HeaderFilterRegex: 'src/.*'