(
    axes: {
        "updown": Multiple([
            Emulated(
                pos: Key(Up),
                neg: Key(Down),
            ),
            Emulated(
                pos: Key(W),
                neg: Key(S)
            )
        ]),
        "leftright": Multiple([ 
            Emulated(
                pos: Key(Right),
                neg: Key(Left)
            ),
            Emulated(
                pos: Key(D),
                neg: Key(A)
            )
        ])
    },
    actions: {}
)